.name {
  /* margin-left: 1rem; */
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  background-color: rgba(88, 2, 125, 0.5);
  /* align-self: center; */
  border-radius: 1rem;
  border-style: solid;
  border-color: rgba(45, 0, 64, 1);
  color: white;
  transition: 0.5s all;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
/* .name:hover {
  background-color: rgba(130, 9, 0, 0.5);
  color: rgb(26, 0, 37);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
} */
.head {
  background-color: rgba(6, 14, 82, 0.9);
}
.link {
  background-color: rgba(190, 202, 237, 1);
  border: rgba(99, 0, 10, 0.8) inset 7px;
  border-radius: 5px;
  transition: all 1s;
}
.link:hover {
  border: rgba(160, 168, 8, 0.8) outset 7px;
}
.link:focus {
  border: rgba(6, 99, 25, 0.8) outset 7px;
  background-color: rgb(122, 152, 241);
}
.logout {
  /* margin-right: 2rem; */
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: rgba(88, 2, 125, 0.5);
  align-self: center;
  border-radius: 1em;
  border-style: solid;
  border-color: rgba(45, 0, 64, 1);
  color: white;
  transition: 0.5s all;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
.logout:hover {
  background-color: rgba(130, 9, 0, 0.5);
  color: rgb(26, 0, 37);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
