.main {
  height: 100vh;
  background-color: rgba(6, 14, 82, 0.9);
  overflow: hidden;
}
.header {
  height: 15%;
}
.mid {
  height: 80%;
}
.footer {
  height: 5%;
}
body {
  background-color: rgba(6, 14, 82, 0.9);
}
